ion-content{
     --background: linear-gradient(135deg, rgb(241, 162, 13), rgb(255, 84, 5)); 
}
ion-card{
    --background: white;
}
ion-card-subtitle{
    margin-top: 10px;
}
ion-searchbar{
    --background:white;
}
